
<form action="" class="sign-in-form">
    <h2 class="title">Iniciar  Sesion</h2>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de usuario </mat-label>
      <input matInput placeholder="Ingrese su nombre de usuario">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Ingrese su contraseña">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Iniciar Sesion</button>
</form>


